#box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(106, 192, 241);
    position: sticky;
    top: 0px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(216, 58, 66);
    position: absolute;
    top: 50px;
    left: 50px;
}