.dropdown {
    display: inline-block;
    
}


.dropdown button {
    background-color: rgba(233, 167, 224, 0.596);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color:  rgba(241, 241, 241, 0.966);
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
       background-color:  rgba(227, 173, 243, 0.966);
}

.dropdown a:hover {
    background-color:  rgba(227, 173, 243, 0.966);
}